<div class = "container">
    <div class= "row">
        
    <div class = "col-md-4">      
            <div class="wrapper">
                <div class="product-img">
                    <img src="http://bit.ly/2tMBBTd" height="304" width="260">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>Meadow Fresh Uht Milk Standard Long Life 1L </h1>
                        <h2>1L</h2>
                         <p>$78</p>
                    </div>
                    <div class="product-price-btn">
                    <input type="number" class="form-control add-to-cart" placeholder="1" name="nuber_of_items">
                        <button type="button">Add to cart</button>
                    </div>
                </div>
            </div>
    </div>
    
</div>