<div class = "container">
    <div class = "row">
        <div class = "col-sm-3">
            <div style = "width: 250px;">
                <img  class="guy_shopping img-responsive" src = "guy_shopping.jpg">
            </div>
        </div>
         <div col-sm-9 class = "page-header">
                <h1 class = "header"> Let's go shopping </h1>
        </div>
    </div>

    <div class = "row">
        <div class ="col-sm-6 card-col">
            <div class="wrapper">
                <div class="product-img">
                <img src="breakfast.jpg" height="294" width="229">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1 class="card-header">Breakfast Food & Drink</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class ="col-sm-6 card-col">
            <div class="wrapper">
                <div class="product-img">
                <img src="breakfast.jpg" height="294" width="229">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>Lunch Food & Drink</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



  <div class = "row">
        <div class ="col-sm-6 card-col">
            <div class="wrapper">
                <div class="product-img">
                <img src="breakfast.jpg" height="294" width="229">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>Dinner Ingredients</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class ="col-sm-6 card-col">
            <div class="wrapper">
                <div class="product-img">
                <img src="breakfast.jpg" height="294" width="229">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>Kitchen Essentials</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <div class = "row">
        <div class ="col-sm-6 card-col">
            <div class="wrapper">
                <div class="product-img">
                <img src="breakfast.jpg" height="294" width="229">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>Non-Food</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class ="col-sm-6 card-col">
            <div class="wrapper">
                <div class="product-img">
                <img src="breakfast.jpg" height="294" width="229">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>Pharmacy</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>