<div class = "container">
    <div class = "row">
        <div col-sm-3>
            <div style = "width: 250px;">
                <img  class="guy_shopping img-responsive" src = "guy_shopping.jpg">
            </div>
        </div>
         <div col-sm-9 class = "page-header">
                <h1 class = "header"> Let's go shopping </h1>
        </div>
    </div>

    <div class = "row">
        <div col-sm-4>
        </div>

    </div>

</div>