<div class = "container">
    <div class = "row">
        <div class = "col-sm-3">
            <div style = "width: 250px;">
                <img  class="guy_shopping img-responsive" src = "guy_shopping.png">
            </div>
        </div>
         <div col-sm-9 class = "page-header">
                <h1 class = "header"> Let's go shopping </h1>
        </div>
    </div>

    <div class = "row">
        <div class ="col-sm-6 card-col">
        <a href="/breakfast">
            <div class="p-wrapper">
                <div class="p-product-img">
                <img src="breakfast.jpg" height="294" width="229">
                </div>
                <div class="p-product-info">
                    <div class="p-product-text">
                        <h1 class="card-title" >Breakfast Food & Drink</h1>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class ="col-sm-6 card-col">
         <a href="/lunch">
            <div class="p-wrapper">
                <div class="p-product-img">
                <img src="lunchsam.jpg" height="294" width="229">
                </div>
                <div class="p-product-info">
                    <div class="p-product-text">
                        <h1 class="card-title">Lunch Food & Drink</h1>
                    </div>
                </div>
            </div>
        </div>
        </a>
    



  
        <div class ="col-sm-6 card-col">
         <a href="/dinner">
            <div class="p-wrapper">
                <div class="p-product-img">
                <img src="dinner.jpg" height="294" width="229">
                </div>
                <div class="p-product-info">
                    <div class="p-product-text">
                        <h1 class="card-title">Dinner Ingredients</h1>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class ="col-sm-6 card-col">
         <a href="/essentials">
            <div class="p-wrapper">
                <div class="p-product-img">
                <img src="essentials.jpg" height="294" width="229">
                </div>
                <div class="p-product-info">
                    <div class="p-product-text">
                        <h1 class="card-title">Kitchen Essentials</h1>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>


  <div class = "row">
        <div class ="col-sm-6 card-col">
         <a href="/non-food">
            <div class="p-wrapper">
                <div class="p-product-img">
                <img src="toiletpaper.jpg" height="294" width="229">
                </div>
                <div class="p-product-info">
                    <div class="p-product-text">
                        <h1 class="card-title">Non-Food</h1>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class ="col-sm-6 card-col">
         <a href="/pharmacy">
            <div class="p-wrapper">
                <div class="p-product-img">
                <img src="pharmacy.jpg" height="294" width="229">
                </div>
                <div class="p-product-info">
                    <div class="p-product-text">
                        <h1 class="card-title">Pharmacy</h1>
                    </div>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>