  
<div class="container mt-5">

<h1>Thanks for your order! We'll give you updates to let you know when we start collecting the items and the estimated delivery time</h1>
    <p><a href="/" class="startbtn btn-primary submit">Go Home</a></p>
</div>