<!DOCTYPE html>
<html>
<head>

</script>
<script>
$(document).ready(function(){
  $("p").click(function(){
    $(this).hide();
  });
});
</script>
</head>
<body>

<h2>jQuery click event example</h2>
<p>This example is published on beginnersbook.com. This paragraph will be
hidden when you click on it.</p>
</body>
</html>