<div class="jumbotron jumbotron-fluid bg-dark">
  
  <div class="jumbotron-background">
    <img src="fresh_foods.jpg" class="blur ">
  </div>

  <div class="container text-white">

    <h1 class="display-4">Get your shopping delivered with Instashop</h1>
    <p class="lead">Post your shopping list and one of our team members will deliver right to your door on the same or next day</p>
    <hr class="my-4">

  </div> 
</div>

    <div class="row spacer">
        <div class="col-sm-6 order-col" align="center">
            <a href="/categories" class="btn btn-2 btn-sep icon-cart">Place an order</a>
        </div>
        <div class="col-sm-6 fulfill-col" align="center">
            <a class="btn btn-1 btn-sep icon-send">Fulfill an order</a>
        </div>
    </div>


