<div class="jumbotron jumbotron-fluid bg-dark">
  
  <div class="jumbotron-background">
    <img src="fresh_food.jpg" class="blur ">
  </div>

  <div class="container text-white">

    <h1 class="display-4">Get your shopping delivered with Instashop</h1>
    <p class="lead">Post your shopping list and one of our team members will deliver right to your door on the same or next day</p>
    <hr class="my-4">

  </div> 
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6" align="center">
            <div style="font-size:1.5em">    
                 <a href="something" class="button5" style="background-color:#42cc8c;">Download</a>
            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary btn-lg">Fulfill an order</button>
        </div>
    </div>
</div>